## Customer Lifetime Value
### Created By : Christian
### Dataset : [Customer Lifetime Value Dataset](https://drive.google.com/drive/folders/1GR7l3uWmcOCA2sxx1W-cEkReDxdedoeJ)

In [13]:
# Library
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import missingno
from IPython.display import display

# Feature Engineering
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
import category_encoders as ce

# Model Selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV,StratifiedKFold,train_test_split, cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
import lightgbm as lgb
from sklearn.metrics import f1_score, accuracy_score, recall_score, precision_score
from sklearn.metrics import RocCurveDisplay

# Imbalance Dataset
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import RandomOverSampler

# Ignore Warning
import sys
import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")

# Set max columns
pd.set_option('display.max_columns', None)

## Contents
1. asd
1. ASD

## Business Problem Understanding

**Context**\
asd

**Problem Statement**\
asd

**Goals**\
asd

**Analytic Approach**\
asd

**Metric Evaluation**\
asd

## Data Understanding

### Attribute Information
| Attribute | Data Type, Length | Description |
| --- | --- | --- |
| enrollee_id | Long | Unique ID for candidate |
| city | Text | City code |
| city_development_index | Float | Developement index of the city (scaled) |
| gender | Text | Gender of candidate |
| relevent_experience | Text | Relevant experience of candidate |
| enrolled_university | Text | Type of University course enrolled if any |
| education_level | Text | Education level of candidate |
| major_discipline | Text | Education major discipline of candidate |
| experience | Text | Candidate total experience in years |
| company_size | Text | No of employees in current employer's company |
| company_type | Text | Type of current employer |
| last_new_job | Text | Difference in years between previous job and current job |
| training_hours | Long | training hours completed |
| target | Float | 0 – Not looking for job change, 1 – Looking for a job change |

In [2]:
df=pd.read_csv('input/dataset.csv')
df

,Vehicle Class,Coverage,Renew Offer Type,EmploymentStatus,Marital Status,Education,Number of Policies,Monthly Premium Auto,Total Claim Amount,Income,Customer Lifetime Value
0,Four-Door Car,Extended,Offer1,Retired,Divorced,High School or Below,2.0,90.0,571.479602,11828.0,10083.486880
1,Four-Door Car,Basic,Offer1,Employed,Married,College,6.0,62.0,114.514440,44762.0,4943.386117
2,Two-Door Car,Basic,Offer1,Retired,Married,Master,2.0,62.0,257.248789,21514.0,11981.984810
3,Four-Door Car,Premium,Offer3,Disabled,Married,High School or Below,1.0,116.0,556.800000,17913.0,4550.856045
4,Two-Door Car,Basic,Offer3,Medical Leave,Married,High School or Below,1.0,62.0,355.820799,19030.0,2372.155492
...,...,...,...,...,...,...,...,...,...,...,...
5664,Four-Door Car,Basic,Offer4,Unemployed,Single,High School or Below,1.0,74.0,532.800000,0.0,2442.216651
5665,Four-Door Car,Premium,Offer1,Employed,Divorced,Bachelor,2.0,109.0,523.200000,27778.0,12904.943360
5666,Four-Door Car,Basic,Offer1,Employed,Single,Bachelor,1.0,62.0,44.780402,84658.0,2447.053134
5667,Luxury SUV,Extended,Offer2,Employed,Divorced,Master,7.0,239.0,1294.700423,22705.0,19160.989940
5668,Luxury SUV,Basic,Offer2,Employed,Divorced,College,1.0,199.0,161.615740,60184.0,7664.219255

## Data Preprocessing

### Handle Duplicates

### Handle Missing Value

### Handle Outlier

### Handle Invalid Value

## Modeling & Evaluation

### Logistic Regression

### K Nearest Neighbor

### Decision Tree

### Random Forest

### XGB Classifier

## Conclusion & Recommendation

### Conclusion

### Recommendation